<h2>Create SHA512</h2>
<form action="/App/ConvertToSHA512" ID="ConvertToSHA512" name="ConvertToSHA512" method="POST" target="_blank" enctype = "multipart/form-data">
<input type="file" id="file" name="file"/><br /><br />
<input type="submit" value="CONVERTER"/>
</form>
