@{ 
	var jsScriptPDF = ViewData["gridName"] + ".PerformCallback({ 'OutputFormat': 'PDF', 'isCallBack': true });";
    var jsScriptRTF = ViewData["gridName"] + ".PerformCallback({ 'OutputFormat': 'RTF', 'isCallBack': true });";
    var jsScriptXLS = ViewData["gridName"] + ".PerformCallback({ 'OutputFormat': 'XLS', 'isCallBack': true });";
    var jsScriptCSV = ViewData["gridName"] + ".PerformCallback({ 'OutputFormat': 'CSV', 'isCallBack': true });";
    var jsScriptTXT = ViewData["gridName"] + ".PerformCallback({ 'OutputFormat': 'TXT', 'isCallBack': true });";
}
<div class="ExportBox" style="float:right;font-size:12px;">
    <input type="button" name="OutputFormat1" value="PDF" onclick="javascript:@jsScriptPDF" title="Exportar PDF" />
    <input type="button" name="OutputFormat2" value="RTF" onclick="javascript:@jsScriptRTF" title="Exportar RTF" />
    <input type="button" name="OutputFormat3" value="XLS" onclick="javascript:@jsScriptXLS" title="Exportar XLS" />
    <input type="button" name="OutputFormat4" value="CSV" onclick="javascript:@jsScriptCSV" title="Exportar CSV" />
    <input type="button" name="OutputFormat5" value="TXT" onclick="javascript:@jsScriptTXT" title="Exportar TXT" />
</div>